*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clock{
display: flex;
justify-content: center;
align-items: center;
position: relative;
width: 20rem;
height: 20rem;
transform: rotate(180deg);
background-color: rgb(77, 101, 121);
border-radius: 10rem;
box-shadow: -2px -2px 7px rgba(255, 255, 255, 0.7),
    2px 2px 5px rgba(94, 104, 121, 0.5);
}


.clock::after{
    content: "";
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    position: relative;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset -2px -2px 7px rgba(255, 255, 255, 0.7),
    inset 2px 2px 5px rgba(94, 104, 121, 0.5);
}

.hour{
    position: absolute;
    width: 4px;
    height: 20%;
    top:50%;
    border-radius: 2px;
      z-index: 7;
    transform-origin: top;
    background: rgb(103, 180, 211);
}

.minute{
    position: absolute;
    width: 3px;
    height: 30%;
    top:50%;
    transform-origin: top;
    z-index: 5;
      border-radius: 2px;
    background: rgb(100, 209, 37);
}

.second{
    position: absolute;
    width: 2px;
    height: 40%;
    top:50%;
    transform-origin: top;
      border-radius: 2px;
    z-index: 6;
    background: rgb(224, 31, 31);
}

.clock span{
    position: absolute;
    padding: 0.5rem;
    transform: rotate(180deg);
    color:aliceblue;
}


 
.three{
    left: 0;
}
.six{
     top: 0;
}



.nine{
    right: 0;
}

.twelve{
    bottom: 0;
}
